---
BasedOnStyle: LLVM
Language: Cpp

ColumnLimit: 80

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

BreakBeforeBraces: Linux
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false

SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

PointerAlignment: Left
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

BinPackParameters: true
BinPackArguments: true
AlignAfterOpenBracket: Align

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: CaseSensitive
IndentCaseLabels: false
AlwaysBreakTemplateDeclarations: Yes
