name: Mirror
run-name: Mirroring
on: push

env:
  MIRROR_URL: git@github.com:EpitechPGE3-2025/G-CPP-500-TLS-5-2-rtype-1.git
  MIRROR_OWNER: EpitechPGE3-2025
  MIRROR_NAME: G-CPP-500-TLS-5-2-rtype-1
  EXECUTABLES: r-type_client,r-type_server
  BRANCH_NAME: ${{ github.ref_name }}
  REPO_NAME: ${{ github.repository }}
  REPO_SSH_URL: git@github.com:${{ github.repository }}.git
  STACK_ROOT: /tmp/stack-root

jobs:
  push_to_mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        name: Pushing to the repo
        with:
          target_repo_url: ${{ env.MIRROR_URL }}
          ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
  build:
    if: github.ref_type == 'tag'
    needs: [ push_to_mirror ]
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
        contents: write
    container: epitechcontent/epitest-docker
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - id: compile
        timeout-minutes: 15
        name: Compilation
        run: |
          make STACK_ROOT=$STACK_ROOT
      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: ${{ env.EXECUTABLES }}
      - name: Create Release on Mirror
        id: create_release_mirror
        uses: ncipollo/release-action@v1
        with:
          artifacts: ${{ env.EXECUTABLES }}
          repo: ${{ env.MIRROR_NAME }}
          owner: ${{ env.MIRROR_OWNER }}
          token: ${{ secrets.MIRROR_RELEASE_WRITE_TOKEN }}
